* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html body {
  scroll-behavior: smooth;
  height: 100dvh;
}

body {
  background: linear-gradient(220deg, rgb(47, 47, 255), rgb(161, 161, 161));

  color: white;
}

.card {
  margin: 1rem;
  padding: 2rem;

  background: #000;
}
