.text {
    text-align: center;
    color:azure;
    box-shadow: 5px;
    border-style: inherit;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: linear-gradient(to bottom, #FF0000, #000000, #808080); 
  }

  header {
    stroke: black;
    color:#ffffff;
    text-align: center;
  }

  footer {
    color:azure;
    text-align: center;
  }

.frame {
    padding: 20px;
}
