.text {
    text-align: center;
    color:azure;
    box-shadow: 5px;
    border-style: inherit;
    font-family:'monospace', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:black; 
  }

  header {
    stroke: black;
    color:#ffffff;
    text-align: center;
  }

  footer {
    color:azure;
    text-align: center;
  }

.frame {
    padding: 20px;
}

a {
  color: bisque;
}