---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
---

<Layout>
  <Navbar />
  <div>
    <h1>This is the Features Route</h1>
  </div>
</Layout>

<style>
  @view-transitions {
    navigation: auto;
  }
  div {
    padding-top: 6rem;

    color: var(--text-light);
  }

  h1 {
    padding: 2rem;
  }
</style>
